.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 28rem;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 15px;
    padding: 10px;

}
.card::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .card{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.jokes_card {
    gap:.8rem;
    display: flex;
    align-items: center;
    color: grey;
    padding:10px 0;
    margin-top: 5px;
    /* box-shadow: 0 .5rem .5rem rgba(0,0,0,.2); */

}


.jokes_circle h3{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid

}