.todo{
    max-width: 50rem;
    width: 90%;
    margin: 4rem auto;
    padding: 1rem;
    background: var(--bg-2);
    border-radius: 5px;
}
.list{
    background: var(--white);
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-radius: 5px;
    align-items: center;
    color:var(--black-1);
    margin-top:.5rem;
}
.left_side{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.icons{
margin-left: .7rem;
    width:1.5rem;
   height: 1.5rem;
   border-radius: 4px;
    background: var(--gray-1);
}